<h1>Our Privacy Statement</h1>
<p>
<h3> Cookies </h3>
We currently only store 2 pieces of data on your computer. One is your country selection, that is used to let the server remember which country you're from and showing you content that's only relevant to your current country. You can easily change the data on this cookie via the "country" menu bar at the top right. The second piece of data is used to store how you're referred to this site. We occasional experiment with different marketing campaigns and we use this data to know if our marketting campaign is effective.
<h3> What we store in our database </h3>
The data we store in our database includes the view count, and click count of all the items on our site. We also use the second piece of data from the cookie to count all view counts and click counts from a particular marketting campaign. There's no other data we store in our database as of right now. (We will update this privacy statement once we do.)
<h3> Google Analytics </h3>
Like almost every website on the planet, we use google analytics. Google analytics allows us to know more about our users. They provide aggregated data such as which country our users are from, which browser our users use, and which mobile devices the users use. We use these information to priorize our development to better support devices/browsers that our users uses the most. 

<small>Version 1.0 Privacy Statement. <br/> Last Updated on the 8th Birthday of a person born on 8/8/2008</small>

</p>
